<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">mylovin的博客</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">java</a></li>
            <li><a href="#">git</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    python <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">基本语法</a></li>
                    <li><a href="#">多线程</a></li>
                    <li><a href="#">多进程</a></li>
                    <li class="divider"></li>
                    <li><a href="#">深度学习</a></li>
                    <li><a href="#">数据分析</a></li>
                    <li class="divider"></li>
                    <li><a href="#">搭建博客</a></li>
                </ul>
            </li>
        </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
        <li><a href="/admin"><span class="glyphicon glyphicon-log-in"></span> 管理</a></li>
    </ul>
    </div>
    </div>
</nav>