<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="http://static.blog.csdn.net/scripts/blog_static_head.min.js" type="text/javascript"></script>
    <link rel="Stylesheet" type="text/css" href="http://static.blog.csdn.net/skin/skin-yellow/css/style.css?v=1.1" />
    <link rel="shortcut icon" href="http://c.csdnimg.cn/public/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="http://static.blog.csdn.net/scripts/SyntaxHighlighter/styles/green2_black.css" />
    <link href="http://c.csdnimg.cn/blog/csdn_public_blog_detail.min.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div id="main">
    <div class="main">



        <div class="list_item_new">

            <div id="article_toplist" class="list">

            </div>

            <div id="article_list" class="list">

                <div class="list_item article_item">
                    <div class="article_title">
                        <span class="ico ico_type_Original"></span>


                        <h1><span class="link_title">
                            <a href="/u012365810/article/details/78009347">Python更换pip安装源</a></span></h1>
                    </div>

                    <div class="article_description">
                        Python更换pip安装源
                        由于最近在学习和使用Pyhton，需要安装很多Pyhton包，如Django、numpy、matplotlib等依赖包，但是pip默认安装使用的是默认官方源：pypi.python.org，下载速度很慢。

                        * 因此，需要将安装源更换为国内的站点，加快安装速度！*

                        一些pip安装源：
                        pypi.python.org 官方源
                        pypi.d...        </div>
                    <div class="article_manage">
                        <span class="link_postdate">2017-09-17 11:56</span>


                        <span class="link_view" title="阅读次数"><a href="/u012365810/article/details/78009347" title="阅读次数">阅读</a>(4)</span>
                        <span class="link_comments" title="评论次数"><a href="/u012365810/article/details/78009347#comments" title="评论次数" onclick="_gaq.push(['_trackEvent','function', 'onclick', 'blog_articles_pinglun'])">评论</a>(0)</span>


                        <span class="link_edit"><a href="http://write.blog.csdn.net/postedit/78009347" title="编辑">编辑</a></span>
                        <span class="link_delete"><a href="javascript:void(0);" onclick="javascript:deleteArticle(78009347);return false;" title="删除">删除</a></span>
                    </div>

                    <div class="clear"></div>
                </div>






                <!--显示分页-->


            </div>
            <script type="text/ecmascript">
                $(function () {
                    setTimeout(function () {
                        $("a img[src='http://js.tongji.linezing.com/stats.gif']").parent().css({ "position": "absolute", "left": "50%" });
                    }, 300);
                });
            </script>


            <div class="clear">
            </div>
        </div>

    </div>
</div>
</body>
</html>